In [1]:
import xgboost as xgb
import pandas as pd
import numpy as np 
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [43]:
n=pd.read_csv("./chronic_kidney_with_class.csv")

In [61]:
n.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,NaN,1.0,0.0,0.0,...,44,7800,5.2,1.0,1,0.0,1.0,0.0,0.0,1
1,1,7,50,1.020,4,0,NaN,1.0,0.0,0.0,...,38,6000,NaN,0.0,0,0.0,1.0,0.0,0.0,1
2,2,62,80,1.010,2,3,1.0,1.0,0.0,0.0,...,31,7500,NaN,0.0,1,0.0,0.0,0.0,1.0,1
3,3,48,70,1.005,4,0,1.0,0.0,1.0,0.0,...,32,6700,3.9,1.0,0,0.0,0.0,1.0,1.0,1
4,4,51,80,1.010,2,0,1.0,1.0,0.0,0.0,...,35,7300,4.6,0.0,0,0.0,1.0,0.0,0.0,1

In [6]:
n.columns

Index(['Unnamed: 0', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod',
       'pot', 'hemo', 'pcv', 'wc', 'rc', 'rbc', 'pc', 'pcc', 'ba', 'htn', 'dm',
       'cad', 'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [18]:
n.shape

(400, 26)

In [45]:
n.replace("?",np.nan,inplace=True)
n.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7,50,1.020,4,0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [47]:
n[["pot","pcv","hemo","wc","rc","rbc"]]

     pot   pcv hemo   wc   rc   rbc
0    121   1.2   36  NaN  NaN  15.4
1    NaN   0.8   18  NaN  NaN  11.3
2    423   1.8   53  NaN  NaN   9.6
3    117   3.8   56  111  2.5  11.2
4    106   1.4   26  NaN  NaN  11.6
5     74   1.1   25  142  3.2  12.2
6    100  24.0   54  104  4.0  12.4
7    410   1.1   31  NaN  NaN  12.4
8    138   1.9   60  NaN  NaN  10.8
9     70   7.2  107  114  3.7   9.5
10   490   4.0   55  NaN  NaN   9.4
11   380   2.7   60  131  4.2  10.8
12   208   2.1   72  138  5.8   9.7
13    98   4.6   86  135  3.4   9.8
14   157   4.1   90  130  6.4   5.6
15    76   9.6  162  141  4.9   7.6
16    99   2.2   46  138  4.1  12.6
17   114   5.2   87  139  3.7  12.1
18   263   1.3   27  135  4.3  12.7
19   100   1.6   31  NaN  NaN  10.3
20   173   3.9  148  135  5.2   7.7
21   NaN    76  180  4.5  NaN  10.9
22    95   7.7  163  136  3.8   9.8
23   NaN   NaN  NaN  NaN  NaN   NaN
24   NaN   1.4   50  129  4.0  11.1
25   108   1.9   75  141  5.2   9.9
26   156   2.4   45  140  3.4  11.6
27   264   2.7   87  130  4.0  12.5
28   123   1.4   31  NaN  NaN   NaN
29   NaN   1.4   28  NaN  NaN  12.9
..   ...   ...  ...  ...  ...   ...
370   83   1.2   42  139  3.7  16.2
371   79   0.5   50  145  5.0  17.6
372  109   0.9   26  150  4.9    15
373  133   1.0   38  142  3.6  13.7
374  111   1.2   44  146  3.6  16.3
375   74   0.5   41  143  4.5  15.1
376   88   1.1   16  147  3.5  16.4
377   97   0.7   27  145  4.8  13.8
378  NaN   0.9  NaN  140  4.8  15.2
379   78   0.6   45  138  3.5  16.1
380  113   1.1   23  139  3.5  15.3
381   79   0.5   47  142  4.8  16.6
382   75   0.8   22  137  5.0  16.8
383  119   0.7   46  141  4.9  13.9
384  132   1.1   18  150  4.7  15.4
385  113   0.6   25  146  4.9  16.5
386  100   0.5   47  142  3.5  16.4
387   93   0.9   17  136  3.9  16.7
388   94   1.2   15  144  3.7  15.5
389  112   0.7   48  140  5.0  17.0
390   99   0.8   25  135  3.7  15.0
391   85   1.1   16  142  4.1  15.6
392  133   1.2   48  147  4.3  14.8
393  117   0.7   45  141  4.4  13.0
394  137   0.8   46  139  5.0  14.1
395  140   0.5   49  150  4.9  15.7
396   75   1.2   31  141  3.5  16.5
397  100   0.6   26  137  4.4  15.8
398  114   1.0   50  135  4.9  14.2
399  131   1.1   18  141  3.5  15.8

[400 rows x 6 columns]

In [51]:
n.replace("yes",1,inplace=True)
n.replace("no",0,inplace=True)
n.replace("normal",1,inplace=True)
n.replace("abnormal",0,inplace=True)
n.replace("present",1,inplace=True)
n.replace("notpresent",0,inplace=True)
n.replace("good",1,inplace=True)
n.replace("poor",0,inplace=True)
n.replace("ckd",1,inplace=True)
n.replace("notckd",0,inplace=True)
n.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,NaN,1.0,0.0,0.0,...,44,7800,5.2,1.0,1,0.0,1.0,0.0,0.0,1
1,1,7,50,1.020,4,0,NaN,1.0,0.0,0.0,...,38,6000,NaN,0.0,0,0.0,1.0,0.0,0.0,1
2,2,62,80,1.010,2,3,1.0,1.0,0.0,0.0,...,31,7500,NaN,0.0,1,0.0,0.0,0.0,1.0,1
3,3,48,70,1.005,4,0,1.0,0.0,1.0,0.0,...,32,6700,3.9,1.0,0,0.0,0.0,1.0,1.0,1
4,4,51,80,1.010,2,0,1.0,1.0,0.0,0.0,...,35,7300,4.6,0.0,0,0.0,1.0,0.0,0.0,1

In [52]:
n.describe()

,Unnamed: 0,bgr,bu,sc,sod,htn,cad,appet,pe,ane,class
count,400.000000,248.000000,335.000000,396.000000,396.000000,398.000000,398.000000,399.000000,399.000000,399.000000,400.000000
mean,199.500000,0.810484,0.773134,0.106061,0.055556,0.369347,0.085427,0.794486,0.190476,0.150376,0.625000
std,115.614301,0.392711,0.419431,0.308305,0.229351,0.483235,0.279868,0.404584,0.393170,0.357888,0.484729
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,99.750000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,199.500000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,299.250000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,399.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [67]:
n1=n.dropna(axis=0)
n1.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
3,3,48,70,1.005,4,0,1.0,0.0,1.0,0.0,...,32,6700,3.9,1.0,0,0.0,0.0,1.0,1.0,1
9,9,53,90,1.020,2,0,0.0,0.0,1.0,0.0,...,29,12100,3.7,1.0,1,0.0,0.0,0.0,1.0,1
11,11,63,70,1.010,3,0,0.0,0.0,1.0,0.0,...,32,4500,3.8,1.0,1,0.0,0.0,1.0,0.0,1
14,14,68,80,1.010,3,2,1.0,0.0,1.0,1.0,...,16,11000,2.6,1.0,1,1.0,0.0,1.0,0.0,1
20,20,61,80,1.015,2,0,0.0,0.0,0.0,0.0,...,24,9200,3.2,1.0,1,1.0,0.0,1.0,1.0,1

In [60]:
n1["class"].value_counts()

0    115
1     43
Name: class, dtype: int64

In [74]:
n1.drop("bp",axis=1,inplace=True)
print(n1)

        sg al su  bgr   bu   sc  sod  pot hemo   pcv  ...    pc    pcc   ba  \
3    1.005  4  0  1.0  0.0  1.0  0.0  117   56   3.8  ...    32   6700  3.9
9    1.020  2  0  0.0  0.0  1.0  0.0   70  107   7.2  ...    29  12100  3.7
11   1.010  3  0  0.0  0.0  1.0  0.0  380   60   2.7  ...    32   4500  3.8
14   1.010  3  2  1.0  0.0  1.0  1.0  157   90   4.1  ...    16  11000  2.6
20   1.015  2  0  0.0  0.0  0.0  0.0  173  148   3.9  ...    24   9200  3.2
22   1.025  4  0  1.0  0.0  0.0  0.0   95  163   7.7  ...    32   6900  3.4
27   1.010  3  4  1.0  0.0  0.0  0.0  264   87   2.7  ...    37   9600  4.1
48   1.005  0  0  1.0  1.0  0.0  0.0   70   32   0.9  ...    29  18900  3.5
58   1.020  2  0  0.0  0.0  0.0  0.0  253  142   4.6  ...    33   7200  4.3
71   1.010  1  0  1.0  1.0  0.0  0.0  163   92   3.3  ...    28  14600  3.2
74   1.015  2  0  0.0  0.0  0.0  0.0  129  107   6.7  ...    29   6400  3.4
76   1.005  4  0  0.0  0.0  0.0  1.0  133  139   8.5  ...    36   6200    4
84   1.010  3  0  1.0  0.0  0.0  0.0   76  186    15  ...    22   3800  2.1
90   1.010  2  2  1.0  1.0  0.0  1.0  280   35   3.2  ...    40   9800  4.2
91   1.015  4  1  0.0  1.0  0.0  0.0  210   26   1.7  ...    52  12500  5.6
92   1.010  3  0  1.0  0.0  1.0  1.0  219   82   3.6  ...    33   5600  3.6
93   1.010  3  2  0.0  0.0  1.0  0.0  295   90   5.6  ...    30   7000  3.2
127  1.015  4  0  1.0  1.0  0.0  0.0  118  125   5.3  ...    35  15200  4.3
128  1.015  4  3  1.0  0.0  0.0  0.0  224  166   5.6  ...    23   5000  2.9
130  1.010  2  0  1.0  0.0  1.0  1.0  128  208   9.2  ...    22  16300  2.7
133  1.015  4  0  1.0  1.0  0.0  0.0  118  125   5.3  ...    37   8400  8.0
144  1.010  2  0  0.0  1.0  0.0  0.0  105   53   2.3  ...    33  10500  4.1
147  1.010  3  1  1.0  0.0  1.0  0.0  288   36   1.7  ...    25  15200  3.0
153  1.010  2  1  0.0  0.0  0.0  0.0  273  235  14.2  ...    22  14600  2.9
157  1.025  3  0  1.0  0.0  0.0  0.0  122   42   1.7  ...    39   7900  3.9
159  1.010  1  0  0.0  1.0  0.0  0.0  303   35   1.3  ...    35  10900  4.3
171  1.020  3  0  1.0  1.0  0.0  0.0  102   60   2.6  ...    26  12800  3.1
176  1.010  4  0  1.0  0.0  1.0  1.0  107   40   1.7  ...    23  12400  3.9
181  1.025  2  0  1.0  0.0  1.0  0.0  117   52   2.2  ...    30  19100  3.7
189  1.010  4  1  0.0  0.0  0.0  1.0  239   58   4.3  ...    29   7500  3.4
..     ... .. ..  ...  ...  ...  ...  ...  ...   ...  ...    ..    ...  ...
368  1.025  0  0  1.0  1.0  0.0  0.0   82   42   0.7  ...    45   9400  5.9
369  1.020  0  0  1.0  1.0  0.0  0.0  107   48   0.8  ...    46  10300  4.8
370  1.020  0  0  1.0  1.0  0.0  0.0   83   42   1.2  ...    50   9300  5.4
371  1.025  0  0  1.0  1.0  0.0  0.0   79   50   0.5  ...    51   6500  5.0
372  1.020  0  0  1.0  1.0  0.0  0.0  109   26   0.9  ...    52  10500  5.5
373  1.025  0  0  1.0  1.0  0.0  0.0  133   38   1.0  ...    47   9200  4.9
374  1.025  0  0  1.0  1.0  0.0  0.0  111   44   1.2  ...    40   8000  6.4
375  1.020  0  0  1.0  1.0  0.0  0.0   74   41   0.5  ...    48   9700  5.6
376  1.025  0  0  1.0  1.0  0.0  0.0   88   16   1.1  ...    53   9100  5.2
377  1.020  0  0  1.0  1.0  0.0  0.0   97   27   0.7  ...    49   6400  4.8
379  1.025  0  0  1.0  1.0  0.0  0.0   78   45   0.6  ...    50   5400  5.7
380  1.020  0  0  1.0  1.0  0.0  0.0  113   23   1.1  ...    54   6500  4.9
382  1.025  0  0  1.0  1.0  0.0  0.0   75   22   0.8  ...    51   6000  6.5
383  1.025  0  0  1.0  1.0  0.0  0.0  119   46   0.7  ...    49   5100  5.0
384  1.020  0  0  1.0  1.0  0.0  0.0  132   18   1.1  ...    42  11000  4.5
385  1.020  0  0  1.0  1.0  0.0  0.0  113   25   0.6  ...    52   8000  5.1
386  1.025  0  0  1.0  1.0  0.0  0.0  100   47   0.5  ...    43   5700  6.5
387  1.025  0  0  1.0  1.0  0.0  0.0   93   17   0.9  ...    50   6200  5.2
388  1.020  0  0  1.0  1.0  0.0  0.0   94   15   1.2  ...    46   9500  6.4
389  1.025  0  0  1.0  1.0  0.0  0.0  112   48   0.7  ...    52   7200  5.8
390  1.025  0  0  1.0  1.0  0.0  0.0   99   25   0.8  ...    52   6300  5.3
391  1.025  0  0  1.0  1.0  0.0  0.0   85   16   1.1  ...    44   5800  6.3
392  1.020  0  0  1.0  1.0  0.0  0.0  133   48   1.2  ...    46   6600  5.5
393  1.025  0  0  1.0  1.0  0.0  0.0  117   45   0.7  ...    54   7400  5.4
394  1.020  0  0  1.0  1.0  0.0  0.0  137   46   0.8  ...    45   9500  4.6
395  1.020  0  0  1.0  1.0  0.0  0.0  140   49   0.5  ...    47   6700  4.9
396  1.025  0  0  1.0  1.0  0.0  0.0   75   31   1.2  ...    54   7800  6.2
397  1.020  0  0  1.0  1.0  0.0  0.0  100   26   0.6  ...    49   6600  5.4
398  1.025  0  0  1.0  1.0  0.0  0.0  114   50   1.0  ...    51   7200  5.9
399  1.025  0  0  1.0  1.0  0.0  0.0  131   18   1.1  ...    53   6800  6.1

     htn dm  cad  appet   pe  ane  class
3    1.0  0  0.0    0.0  1.0  1.0      1
9    1.0  1  0.0    0.0  0.0  1.0      1
11   1.0  1  0.0    0.0  1.0  0.0      1
14   1.0  1  1.0    0.0  1.0  0.0      1
20   1.0  1  1.0    0.0  1.0  1.0      1
22   1.0  0  0.0    1.0  0.0  1.0      1
27   1.0  1  1.0    1.0  1.0  0.0      1
48   1.0  1  0.0    1.0  1.0  0.0      1
58   1.0  1  1.0    1.0  0.0  0.0      1
71   1.0  1  0.0    1.0  0.0  0.0      1
74   1.0  0  0.0    1.0  0.0  0.0      1
76   0.0  1  0.0    1.0  1.0  0.0      1
84   1.0  0  0.0    0.0  1.0  1.0      1
90   1.0  0  1.0    1.0  0.0  0.0      1
91   0.0  0  0.0    1.0  0.0  0.0      1
92   1.0  1  1.0    1.0  0.0  0.0      1
93   1.0  1  1.0    0.0  0.0  0.0      1
127  1.0  1  0.0    0.0  1.0  0.0      1
128  1.0  1  0.0    1.0  0.0  1.0      1
130  0.0  0  0.0    0.0  1.0  1.0      1
133  1.0  0  0.0    1.0  0.0  0.0      1
144  0.0  0  0.0    1.0  0.0  0.0      1
147  1.0  0  0.0    0.0  0.0  1.0      1
153  1.0  1  0.0    0.0  1.0  1.0      1
157  1.0  1  0.0    1.0  0.0  0.0      1
159  0.0  1  0.0    0.0  0.0  0.0      1
171  1.0  0  0.0    0.0  0.0  1.0      1
176  0.0  0  0.0    1.0  0.0  1.0      1
181  0.0  0  0.0    1.0  0.0  0.0      1
189  1.0  1  0.0    0.0  1.0  0.0      1
..   ... ..  ...    ...  ...  ...    ...
368  0.0  0  0.0    1.0  0.0  0.0      0
369  0.0  0  0.0    1.0  0.0  0.0      0
370  0.0  0  0.0    1.0  0.0  0.0      0
371  0.0  0  0.0    1.0  0.0  0.0      0
372  0.0  0  0.0    1.0  0.0  0.0      0
373  0.0  0  0.0    1.0  0.0  0.0      0
374  0.0  0  0.0    1.0  0.0  0.0      0
375  0.0  0  0.0    1.0  0.0  0.0      0
376  0.0  0  0.0    1.0  0.0  0.0      0
377  0.0  0  0.0    1.0  0.0  0.0      0
379  0.0  0  0.0    1.0  0.0  0.0      0
380  0.0  0  0.0    1.0  0.0  0.0      0
382  0.0  0  0.0    1.0  0.0  0.0      0
383  0.0  0  0.0    1.0  0.0  0.0      0
384  0.0  0  0.0    1.0  0.0  0.0      0
385  0.0  0  0.0    1.0  0.0  0.0      0
386  0.0  0  0.0    1.0  0.0  0.0      0
387  0.0  0  0.0    1.0  0.0  0.0      0
388  0.0  0  0.0    1.0  0.0  0.0      0
389  0.0  0  0.0    1.0  0.0  0.0      0
390  0.0  0  0.0    1.0  0.0  0.0      0
391  0.0  0  0.0    1.0  0.0  0.0      0
392  0.0  0  0.0    1.0  0.0  0.0      0
393  0.0  0  0.0    1.0  0.0  0.0      0
394  0.0  0  0.0    1.0  0.0  0.0      0
395  0.0  0  0.0    1.0  0.0  0.0      0
396  0.0  0  0.0    1.0  0.0  0.0      0
397  0.0  0  0.0    1.0  0.0  0.0      0
398  0.0  0  0.0    1.0  0.0  0.0      0
399  0.0  0  0.0    1.0  0.0  0.0      0

[158 rows x 23 columns]

C:\Users\My Dell\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)