In [8]:
#import important modules
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
data = pd.read_csv('./titanic/train.csv')
h=pd.get_dummies(data)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
data.drop("Cabin",axis = 1, inplace=True)
data.drop("Ticket",axis = 1, inplace=True)
data.drop("Name",axis = 1, inplace=True)
data.drop("Fare",axis = 1, inplace=True)
data.drop("Age",axis = 1, inplace=True)
data.Embarked.replace("S",0,inplace=True)
data.Embarked.replace("Q",1,inplace=True)
data.Embarked.replace("C",2,inplace=True)
data.Embarked.replace(np.nan,3,inplace=True)
data.Sex.replace("female",0,inplace=True)
data.Sex.replace("male",1,inplace=True)
print(data.dtypes)
data.head()

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
SibSp            int64
Parch            int64
Embarked       float64
dtype: object

   PassengerId  Survived  Pclass  Sex  SibSp  Parch  Embarked
0            1         0       3    1      1      0       0.0
1            2         1       1    0      1      0       2.0
2            3         1       3    0      0      0       0.0
3            4         1       1    0      1      0       0.0
4            5         0       3    1      0      0       0.0

In [11]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
#Load the data 
data = pd.read_csv('./titanic/train.csv')
h=pd.get_dummies(data)
X,y =h.iloc[:,:-1],h.iloc[:,-1] 
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y,test_size =0.3 ,random_state =45)
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
predictions = dt.predict(X_test)
dt.score(X_test,y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
d.head()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=9)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

In [ ]:
data.dtypes

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors = 6)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

In [ ]:
data.head()

In [ ]:
data.dtypes

In [5]:
from sklearn.model_selection import train_test_split
from sklearn import svm
data = pd.read_csv('./titanic/train.csv')
h=pd.get_dummies(data)
X,y =h.iloc[:,:-1],h.iloc[:,-1] 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=24)
clf=svm.SVC()
clf.fit(X_train,y_train)
preds = clf.predict(X_test)
clf.score(X_test, y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').