In [10]:
x="my name's"
print(x)

my name's

In [3]:
name="hellop "
name*4

'hellop hellop hellop hellop '

In [12]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
name.centre

AttributeError: 'str' object has no attribute 'centre'

In [14]:
name.center

In [16]:
name str.center

SyntaxError: invalid syntax (<ipython-input-16-3726b3fc6019>, line 1)

In [18]:
name.center(1)

'gr'

In [19]:
name.center(0)

'gr'

In [22]:
help('center')

No Python documentation found for 'center'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [24]:
name[0:6]

'hellop'

In [27]:
name[0::]

'hellop'

In [29]:
name[5]

'p'

In [30]:
name[6::-1]

'polleh'

In [36]:
for i in name:
    print(i)

h
e
l
l
o
p

In [37]:
print(i,end='')

p

enter first number 7
enter second number 8.8
enter third number 1
[7.0, 8.8, 1.0]
1.0
8.8
16.8
7.0

In [8]:
list=[4,5,7]
min(list)

4

In [46]:
print("list of months: jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec")
month=str(input("enter month: "))
if month in("jan","mar","may","jul","sep","nov"):
     print(month,"has 31 days.")
elif month in("apr","jun","aug","oct","dec"):
      print(month,"has 30 days.")
elif month=="feb":
        print(month,"has 28 or 29 days.")
else:
          print("wrong name entered")

list of months: jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
enter month: buop
wrong name entered

In [18]:
def hypot(h,b):
    return(((h**2)+(b**2))**0.5)
f=float(input("enter height of right triangle:"))
s=float(input("enter base of right triangle:"))
print (hypot(f,s))

enter height of right triangle:1
enter base of right triangle:2
2.23606797749979

In [5]:
name=input("enter any string:")
name.capitalize()

enter any string:morningg

'Morningg'

In [6]:
name=input("enter any string:")
name.capitalize()

enter any string:gooood

'Gooood'

In [6]:
x=2
y=2
print(x+y)

4

In [7]:
count = 0
for data in range(1,11):
    if count > 5:
        break
        print(data**5)
        count = count + 1

In [13]:
x=2
type(x)

int

In [14]:
g=["hi","oppo"]
with open("csvwrite.csv","w") as bv:
    writer=csv.writer(bv,delimeter =",")
    writer.writerow(g)

NameError: name 'csv' is not defined

### numpy

In [2]:
import numpy as np
x=np.array([5,5,5])
print(x)
print(x.data)
print(x.dtype)
print(x.shape)

[5 5 5]
<memory at 0x0000000105D47D08>
int32
(3,)

In [17]:
import numpy as np
y=np.array([(4,4,4),(4,5,6)])
print(y)
print(y.data)
print(y.dtype)
print(y.shape)

[[4 4 4]
 [4 5 6]]
<memory at 0x0000000DEF5B8C18>
int32
(2, 3)

In [18]:
np.ones

In [95]:
k=np.array([(1,2,3),(2,3,5),(4,0,4)])
print(k)
u=k.shape
s=k.sum(axis=0)
i=k.sum(axis=1)
j=k.mean(axis=1)[0]
h=np.eye(3,3)
l=(k>=3)
print(k[l])
print(l)
print(u)
print(h)
print(s)
print(i)
print(j)
k.size

[[1 2 3]
 [2 3 5]
 [4 0 4]]
[3 3 5 4 4]
[[False False  True]
 [False  True  True]
 [ True False  True]]
(3, 3)
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[ 7  5 12]
[ 6 10  8]
2.0

9

In [91]:
b=np.ones((3,3))
print(type(b))
print(b)

<class 'numpy.ndarray'>
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [50]:
b=np.zeros((4,4))
print(b)
np.full((4,4),2)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

array([[2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2]])

In [48]:
c=np.empty((3,2))
c

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [51]:
c=np.random.random((2,2))
c

array([[0.24554044, 0.80794453],
       [0.71141645, 0.64066749]])

In [71]:
c=np.arange(10,0,-1)
print(c)
z=np.arange(2,7,1)
z.astype(float)
print(z)

[10  9  8  7  6  5  4  3  2  1]
[2 3 4 5 6]

In [21]:
k=np.array([(1,2,3),(2,3,5),(4,0,4)])
print(k)
s=np.arange(0,4,1)
print(s)
k[:,0]

[[1 2 3]
 [2 3 5]
 [4 0 4]]
[0 1 2 3]

array([1, 2, 4])

In [25]:
x=np.array([(1,2,3),(2,3,5),(4,0,4)])
print(x)
y=np.array([(6,10,1),(2,1,3),(1,2,3)])
print(y)
z=x*y
print(z)
q=x+y
print(q)
w=x-y
print(w)
v=x/y
print(v)

[[1 2 3]
 [2 3 5]
 [4 0 4]]
[[ 6 10  1]
 [ 2  1  3]
 [ 1  2  3]]
[[ 6 20  3]
 [ 4  3 15]
 [ 4  0 12]]
[[ 7 12  4]
 [ 4  4  8]
 [ 5  2  7]]
[[-5 -8  2]
 [ 0  2  2]
 [ 3 -2  1]]
[[0.16666667 0.2        3.        ]
 [1.         3.         1.66666667]
 [4.         0.         1.33333333]]

In [41]:
x=np.array([(1,2,3),(2,3,5),(4,0,4)])
print(x)
y=np.array([(6,10,1),(2,1,3),(1,2,3)])
print(y)
print(x,'\n',y)
z=np.dot(x,y)
print(z)

[[1 2 3]
 [2 3 5]
 [4 0 4]]
[[ 6 10  1]
 [ 2  1  3]
 [ 1  2  3]]
[[1 2 3]
 [2 3 5]
 [4 0 4]]
 [[ 6 10  1]
 [ 2  1  3]
 [ 1  2  3]]
[[13 18 16]
 [23 33 26]
 [28 48 16]]

In [23]:
import numpy as np
f=np.ones((3,4))
print(f)
print(f.shape)
g=np.arange(4)
print(g)
print(g.shape)
z=f-g
print(z)
print(z.shape)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
(3, 4)
[0 1 2 3]
(4,)
[[ 1.  0. -1. -2.]
 [ 1.  0. -1. -2.]
 [ 1.  0. -1. -2.]]
(3, 4)

### reshaping

In [46]:
x=np.array([(1,2,3),(2,3,5),(4,0,4)])
print(x)
print(x.reshape(1,9))
print(x.reshape(-1))
print(x.sum())
print(x.sum(axis=0))

[[1 2 3]
 [2 3 5]
 [4 0 4]]
[[1 2 3 2 3 5 4 0 4]]
[1 2 3 2 3 5 4 0 4]
24
[ 7  5 12]

In [8]:
x=np.array([(1,2,3),(2,3,5),(4,0,4)])
print(x)
y=np.array([(6,10,1),(2,1,3),(7,8,9)])
print(y)
p=np.add(x,y)
print(p)

NameError: name 'np' is not defined

In [48]:
from sklearn import datasets
iris_data=datasets.load_iris()
j=iris_data["data"]
print(j)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.1 1.5 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]]

### pandas

In [67]:
import pandas as pd
data=[1,2,3,4]
pd.DataFrame(data)
y=[6,7,8,9]
print(pd.DataFrame(data))
print(pd.DataFrame(y))

   0
0  1
1  2
2  3
3  4
   0
0  6
1  7
2  8
3  9

In [3]:
import pandas as pd
data=[1,2,3,4]
pd.DataFrame(data)

   0
0  1
1  2
2  3
3  4